<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Restaurant</h1>

    <div class="nav">
        <h3>Comments For: {{ item.title }}</h3>
        <a href="/">Home</a>
    </div>

    <form class="comment_area" method="POST">
        <input type="text" name="comment" placeholder="Write comment here..." required>
        <button type="submit">Add Comment</button>
    </form>

    {% if item.comments %}

    <ul>
        {% for comment in item.comments %}
            <li>
                <p>{{ comment.text }}</p>
                <p>Rating: {{ comment.rating }}/10</p>
            </li>
        {% endfor %}
    </ul>

    {% endif %}

</body>
</html>